<form action="/" method="post" enctype="multipart/form-data">
    <h3>Upload an image.</h3>
    <input type="file" name="imageFile" accept="image/*">
    <input type="submit">
</form>

<div>
    {{#each result}}
        <p>No.{{this.id}}</p>
        <img src="{{this.imageName}}" alt="" style="width: 300px"/>
        <p>imageName: {{this.imageName}}</p>
    {{/each}}
</div>